# Scrapping Trip

To complete the data base of the hotels we are going to scrap tripadvisor website again. I took the code for scrapping from my previous project were I already had the code prepare and the list of unique hotels.

In [8]:
import requests
import pandas as pd
from time import sleep
import numpy as np

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options


import warnings
warnings.filterwarnings('ignore')

The following csv correspond to the list of hotels and the reviews from the previous scrapping

In [9]:
df = pd.read_csv("../Data/df_datos_trip.csv", sep=',', encoding='UTF-8', index_col=0)
pd.options.display.max_columns = None
df.head(5)

,Hotel,Trip_Rate,Trip_Location,Trip_Cleanliness,Trip_Service,Trip_Value
0,Rosewood Castiglion del Bosco,5.0,4.7,4.9,4.8,4.4
1,Grace Hotel,5.0,4.9,4.9,4.8,4.4
2,Waldorf Astoria Maldives Ithaafushi,5.0,4.9,4.9,4.8,4.5
3,Pickering House Inn,5.0,5.0,4.8,4.9,4.4
4,One&Only Reethi Rah,5.0,4.8,4.9,4.8,4.2

In [24]:
df_2 = pd.read_csv("../Data/df_datos_google.csv", sep=',', encoding='UTF-8', index_col=0)
pd.options.display.max_columns = None
df_2

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5
2,Waldorf Astoria Maldives Ithaafushi,4.7,4.6,4.6,4.6
3,Pickering House Inn,4.6,4.8,4.6,4.5
4,One&Only Reethi Rah,4.9,4.1,4.6,4.2
...,...,...,...,...,...
196,Rosewood Mayakoba,4.8,NaN,NaN,NaN
197,Canaves Oia Boutique Hotel,4.9,NaN,NaN,NaN
198,Montage Los Cabos,4.8,NaN,NaN,NaN
199,Badrutt's Palace Hotel,4.7,4.4,4.8,4.4
200,Finca Cortesin Hotel Golf & Spa,4.7,NaN,NaN,NaN

In [39]:
duplicated_rows = df_2[df_2.duplicated()]

In [32]:
df_2 = df_2.drop_duplicates(subset="Hotel")
df_2

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6
1,Grace Hotel,4.6,4.8,4.6,4.5
2,Waldorf Astoria Maldives Ithaafushi,4.7,4.6,4.6,4.6
3,Pickering House Inn,4.6,4.8,4.6,4.5
4,One&Only Reethi Rah,4.9,4.1,4.6,4.2
...,...,...,...,...,...
195,HÃ´tel Le Toiny,4.5,5.0,4.0,5.0
196,Rosewood Mayakoba,4.8,NaN,NaN,NaN
197,Canaves Oia Boutique Hotel,4.9,NaN,NaN,NaN
198,Montage Los Cabos,4.5,NaN,NaN,NaN
199,Badrutt's Palace Hotel,4.7,4.4,4.8,4.4

In [81]:
df_2.to_csv("../Data/df_google_hotels.csv")

In [35]:
hotel_rev = df_2["Hotel"].unique().tolist()
print(hotel_rev)

['Rosewood Castiglion del Bosco', 'Grace Hotel', 'Waldorf Astoria Maldives Ithaafushi', 'Pickering House Inn', 'One&Only Reethi Rah', 'Royal Mansour Marrakech', 'Capella Ubud', 'The Lowell', 'HÃ´tel Madame RÃªve', 'Rosewood Villa Magna', 'The Oberoi New Delhi', 'The Oberoi Udaivilas', 'Mandapa, a Ritz-Carlton Reserve', 'Wilderness Safaris Bisate Lodge', 'Portrait Firenze', 'Raffles Istanbul', 'The Oberoi Marrakech', 'Capella Hanoi', 'White Elephant Palm Beach', 'The Loutrel', 'Monasterio', 'Sani Asterias', 'Shangri-La the Shard', 'Coquillade Provence Resort & Spa', 'Taj Palace', 'Pendry Chicago', 'Nayara Tented Camp', 'Hotel Belmar', 'Royal Champagne HÃ´tel & Spa', 'Under Canvas Mount Rushmore', 'Riggs Washington D.C.', 'Waldorf Astoria Los Cabos Pedregal', 'The Oberoi Vanyavilas Wildlife Resort', 'Canaves Oia Epitome ', 'The Standard ', 'The Oberoi Amarvilas', 'Hotel Santa Caterina', "Raffles Grand Hotel d'Angkor", 'Nihi Sumba', 'La RÃ©serve Paris', 'Hotel de la Ville', 'Il San Pietro di Positano', 'Six Senses Yao Noi', 'Finca Cortesin Hotel Golf & Spa', 'Secret Bay', 'Cape Grace', 'Taj Lake Palace', 'Taj Falaknuma Palace', 'Alila Villas Uluwatu', 'Manoir Hovey', 'Six Senses Con Dao', 'Cavas Wine Lodge', 'Grand Hotel Tremezzo', 'Nayara Springs', 'Lodge on Little St. Simons Island', 'Rancho Santana', 'Amanpuri', 'Mandarin Oriental Marrakech', 'Namale Resort & Spa', "Gibb's Farm", 'Jade Mountain', 'Borgo Egnazia', 'Four Seasons Hotel Kyoto', 'San Ysidro Ranch', 'The Goring', 'The Oberoi Rajvilas', 'Palm Island Resort', 'Hotel Savoy', 'Rambagh Palace', 'Curtain Bluff', 'Morrison House Old Town Alexandria, Autograph Collection', 'The Lytle Park Hotel, Autograph Collection', 'Twin Farms', 'Deer Path Inn', 'One&Only Nyungwe House', 'W Santiago', 'Shangri-La Singapore', "L'Ermitage Beverly Hills", 'Silo Hotel', 'Katikies Santorini', 'Nobu Hotel', 'The Shore Club', 'Taj Holiday Village Resort & Spa', 'Mandarin Oriental Bangkok', 'Auberge Saint-Antoine', 'Rosewood Miramar Beach', 'Rio Celeste Hideaway Hotel', 'Hotel Caesar Augustus', 'Grand Hotel Villa Serbelloni', 'Le Bristol Paris', 'Shangri-La Bosphorus', 'The Palms Turks & Caicos', 'The Lodge at Blue Sky, Auberge Resorts Collection', 'Little Palm Island Resort & Spa', 'Le Sirenuse', 'andBeyond Ngorongoro Crater Lodge', 'Casa San AgustÃ­n', 'The Connaught', 'Wentworth Mansion', 'Taj Lands End', 'Birkenhead House', 'Mahali Mzuri', 'Nayara Tented Group', 'The Opposite House', 'Capella Bangkok', 'Kamalame Cay', 'The Temple House', 'Hotel Paracas', 'Savute Elephant Lodge, A Belmond Safari', 'Mandarin Oriental Milan', 'La Reserve Paris', 'Nobu Ryokan', 'Soneva Fushi', 'Alila Manggis', 'Phinda Vlei Lodge', 'Il Sereno Lago di Como', 'Istanbul At Sultanahmet', 'The Peninsula Manila', 'Hotel Il Pellicano', 'Hotel Fasano Boa Vista', 'Halekulani Okinawa', 'The Lake House on Canandaigua', 'Hyatt Regency Amritsar', 'Leela Palace Udaipur', 'Nayara Gardens', 'Rancho Valencia Resort & Spa', 'The Oberoi Mumbai', 'Tierra Atacama Hotel & Spa', 'Viceroy Riviera Maya', 'St. Regis Istanbul', 'Katikies Mykonos', 'The Lanesborough', 'The Roundtree', 'Mashpi Lodge', 'Angama Mara', 'Grand Hotel Excelsior Vittoria', 'Sumaq Machu Picchu Hotel', 'Las Ventanas al ParaÃ­so', 'Viceroy Chicago', 'Singita Grumeti', 'Four Seasons Bangkok', 'The Lodge & Spa at Brush Creek Ranch', 'St. Regis Florence', 'Mandarin Oriental Paris', 'Matetsi Victoria Falls', 'Round Hill Hotel and Villas', 'Khwai River Lodge', 'Soneva Jani', 'Inn of the Five Graces', 'Zadun, a Ritz-Carlton Reserve', 'Mfuwe Lodge', 'InterContinental Bora Bora Resort & Thalasso Spa', 'Banyan Tree Cabo MarquÃ©s', 'Ngala Safari Lodge', 'Sasaab', 'The Sukhothai Bangkok', 'The Oberoi Grand', 'HÃ´tel Plaza AthÃ©nÃ©e', 'Mahekal Beach Resort', 'The Fullerton Hotel Singapore', 'Casa Chameleon', 'HÃ´tel Crillon Le Brave', 'Six Senses Laamu', 'The Wickaninnish Inn', 'Penha Longa Resort', 'The St. Regis Bora Bora Resort', 'Lion Sands Game Reserve', 'The Oyster Box', 'The Stafford', 'Tambo del Inka, a Luxury Collection Resort & Spa', 'Cap Maison', 'Tensing Pen', 'HÃ´tel Le Toiny', 'Rosewood Mayakoba', 'Canaves Oia Boutique Hotel', 'Montage Los Cabos', "Badrutt's Palace Hotel"]

Below the code to do the scrapping in Google to obtain the link of the hotels website

In [36]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') 
opciones.add_argument('user.data-dir=selenium') 
opciones.add_argument('--incognito')

In [ ]:
hotels_link_google = {"Hotel": [],
                "Link_hotel": []} 

for hotel in hotel_rev: 
    driver = webdriver.Chrome(ChromeDriverManager().install())
    driver.implicitly_wait(7)
            
    driver.get("https://www.google.com")
    driver.implicitly_wait(6)

    driver.find_element("css selector", "#L2AGLb > div").click()
    sleep(4)

    driver.find_element("css selector", "body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf > form > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div > div.a4bIc > input").send_keys(f"{hotel}", Keys.ENTER)
    sleep(6)
        
    hotels_link_google["Hotel"].append(hotel)
        
    try:
        hotels_link_google["Link_hotel"].append(driver.find_element('xpath', '/html/body/div[7]/div/div[11]/div[2]/div/div/div[2]/div/div[1]/div/div[2]/div[1]/div/div/div/div[1]/a').get_attribute('href'))
    except: 
        hotels_link_google["Link_hotel"].append(np.nan)

        driver.quit()

As a result for the scrapping we obtain a list that we convert into a DataFrame

In [40]:
Hotel_link = pd.DataFrame(hotels_link_google, columns=["Hotel","Link_hotel"])
Hotel_link.head()

,Hotel,Link_hotel
0,Rosewood Castiglion del Bosco,https://www.rosewoodhotels.com/en/castiglion-d...
1,Grace Hotel,https://aubergeresorts.com/gracehotel/?utm_sou...
2,Waldorf Astoria Maldives Ithaafushi,https://www.hilton.com/en/hotels/mleonwa-waldo...
3,Pickering House Inn,http://www.pickeringhousewolfeboro.com/
4,One&Only Reethi Rah,https://www.oneandonlyresorts.com/reethi-rah?u...

Below the hotels that we couldn't get the website link through the scrapping

In [41]:
Hotel_link[Hotel_link["Link_hotel"].isna()]

                                     Hotel Link_hotel
6                             Capella Ubud        NaN
17                           Capella Hanoi        NaN
20                              Monasterio        NaN
23        Coquillade Provence Resort & Spa        NaN
24                              Taj Palace        NaN
32   The Oberoi Vanyavilas Wildlife Resort        NaN
34                           The Standard         NaN
41               Il San Pietro di Positano        NaN
42                      Six Senses Yao Noi        NaN
50                      Six Senses Con Dao        NaN
52                    Grand Hotel Tremezzo        NaN
60                           Jade Mountain        NaN
67                             Hotel Savoy        NaN
72                              Twin Farms        NaN
76                    Shangri-La Singapore        NaN
79                      Katikies Santorini        NaN
83               Mandarin Oriental Bangkok        NaN
84                   Auberge Saint-Antoine        NaN
87                   Hotel Caesar Augustus        NaN
88            Grand Hotel Villa Serbelloni        NaN
94                             Le Sirenuse        NaN
96                        Casa San AgustÃ­n        NaN
105                           Kamalame Cay        NaN
106                       The Temple House        NaN
107                          Hotel Paracas        NaN
115                 Il Sereno Lago di Como        NaN
128                   Viceroy Riviera Maya        NaN
139                        Singita Grumeti        NaN
146                      Khwai River Lodge        NaN
149          Zadun, a Ritz-Carlton Reserve        NaN
153                     Ngala Safari Lodge        NaN
159          The Fullerton Hotel Singapore        NaN
164                     Penha Longa Resort        NaN
167                         The Oyster Box        NaN
174             Canaves Oia Boutique Hotel        NaN

I fill the missing link with loc

In [44]:
Hotel_link.loc[[20]]

         Hotel Link_hotel
20  Monasterio        NaN

In [78]:
Hotel_link.loc[174, 'Link_hotel'] = "https://canaves.com/canaves-oia-hotel/?gclid=EAIaIQobChMIkpb99pKS_QIVlojVCh1GqAB3EAAYASAAEgKngvD_BwE"

I save the Hotel_link data frame in a csv to continue in tableau

In [79]:
Hotel_link.head()

,Hotel,Link_hotel
0,Rosewood Castiglion del Bosco,https://www.rosewoodhotels.com/en/castiglion-d...
1,Grace Hotel,https://aubergeresorts.com/gracehotel/?utm_sou...
2,Waldorf Astoria Maldives Ithaafushi,https://www.hilton.com/en/hotels/mleonwa-waldo...
3,Pickering House Inn,http://www.pickeringhousewolfeboro.com/
4,One&Only Reethi Rah,https://www.oneandonlyresorts.com/reethi-rah?u...

In [80]:
Hotel_link.to_csv("../Data/hotels_web.csv")