# Review of DF

In [32]:
import pandas as pd
import numpy as np

First I check the df of google which contains all the hotels and it's rating

In [141]:
dfgoogle = pd.read_csv("Data/df_datos_google_unicos.csv", sep=',', encoding='UTF-8',index_col=0)
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [142]:
dfgoogle.shape

(178, 5)

In [164]:
dfgoogle.head(1)

,Hotel,Google_Rate,Google_Habs,Google_Location,Google_Service
0,Rosewood Castiglion del Bosco,4.8,4.3,4.1,4.6

In [159]:
dfgoogle.to_csv("df_datos_google_unicos.csv")

From Kaggle, I've extract a data set of restaurants

In [77]:
df = pd.read_csv("michelin_guide.csv", sep=',', encoding='latin-1')
pd.options.display.max_columns = None

In [78]:
pd.options.display.max_rows = None
df.shape

(6586, 13)

In [79]:
df.head()

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.516960,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225.0,460.0,SGD,French,103.832040,1.306260,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
2,Odette,"National Gallery, #01-04, 1 St. Andrew's Road ...",Singapore,298.0,428.0,SGD,French Contemporary,103.851600,1.289646,https://guide.michelin.com/en/singapore-region...,http://www.odetterestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
3,ZÃ©n,"41 Bukit Pasoh Road, 089855, Singapore",Singapore,580.0,580.0,SGD,European Contemporary,103.840420,1.279627,https://guide.michelin.com/en/singapore-region...,http://www.restaurantzen.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
4,Maaemo,"Dronning Eufemias gate 23, Oslo, 0194, Norway",Oslo,3500.0,3500.0,NOK,"Modern Cuisine, Creative",10.758636,59.907529,https://guide.michelin.com/en/oslo-region/oslo...,http://www.maaemo.no,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."

Below I create a new column called country with the data from the Address column

In [80]:
df['country'] = df['Address'].apply(lambda x: x.split(',')[-1].strip().split("&")[0] if "&" in x.split(',')[-1].strip() else x.split(',')[-1].strip())

In [82]:
df.head(2)

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices,country
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.51696,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Taipei
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225.0,460.0,SGD,French,103.83204,1.306260,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Singapore

In [47]:
df["country"].unique()

array(['Taipei ', 'Singapore', 'Norway', 'Denmark', 'Sweden',
       'Netherlands', 'Belgium', 'USA', 'France', 'Germany',
       'United Kingdom', 'Austria', 'China Mainland', 'Macau',
       'Hong Kong', 'Spain', 'Japan', 'South Korea', 'Italy',
       'Switzerland', 'Greece', 'Canada', 'Slovenia', 'Finland', 'Dubai',
       'Luxembourg', 'Ireland', 'Thailand', 'Portugal', 'Brazil',
       'Iceland', 'Croatia', 'Estonia', 'Malta', 'Andorra', 'San Marino',
       'Czech Republic', 'Hungary', 'Poland', 'Serbia'], dtype=object)

With this new column I will be able to cross the data with the data set of the hotel

Then I will extract the number of stars of the restaurant

In [83]:
def extract_first_value(column):
    return column.str.split(" ").str[0]

df['stars'] = extract_first_value(df['Award'])

In [85]:
df.head(2)

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices,country,stars
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.51696,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Taipei,3
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225.0,460.0,SGD,French,103.83204,1.306260,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Singapore,3

In [50]:
df["FacilitiesAndServices"].unique()

array(['Air conditioning,American Express credit card,Car park,China UnionPay,Credit card / Debit card accepted,JCB,Mastercard credit card,Visa credit card,Wheelchair access',
       'Air conditioning,American Express credit card,Car park,China UnionPay,Credit card / Debit card accepted,Diners Club credit card,JCB,Mastercard credit card,Particularly interesting wine list,Restaurant offering vegetarian menus,Valet parking,Visa credit card,Wheelchair access',
       'Air conditioning,American Express credit card,Car park,Credit card / Debit card accepted,Diners Club credit card,JCB,Maestro,Mastercard credit card,Particularly interesting wine list,Restaurant offering vegetarian menus,Visa credit card,Wheelchair access',
       ...,
       'Air conditioning,Booking essential - dinner,Credit card / Debit card accepted,Diners Club credit card,Mastercard credit card,Visa credit card',
       'American Express credit card,Booking essential,Counter dining,Credit card / Debit card accepted,Diners Club credit card,Mastercard credit card,Terrace,Visa credit card',
       'Air conditioning,American Express credit card,Booking essential - dinner,Credit card / Debit card accepted,Mastercard credit card,Particularly interesting wine list,Terrace,Visa credit card'],
      dtype=object)

In [86]:
df['country'].replace(to_replace='USA', value='United States', inplace=True)

In [87]:
df["country"].unique()

array(['Taipei ', 'Singapore', 'Norway', 'Denmark', 'Sweden',
       'Netherlands', 'Belgium', 'United States', 'France', 'Germany',
       'United Kingdom', 'Austria', 'China Mainland', 'Macau',
       'Hong Kong', 'Spain', 'Japan', 'South Korea', 'Italy',
       'Switzerland', 'Greece', 'Canada', 'Slovenia', 'Finland', 'Dubai',
       'Luxembourg', 'Ireland', 'Thailand', 'Portugal', 'Brazil',
       'Iceland', 'Croatia', 'Estonia', 'Malta', 'Andorra', 'San Marino',
       'Czech Republic', 'Hungary', 'Poland', 'Serbia'], dtype=object)

In [88]:
df['country'].replace(to_replace='China Mainland', value='China', inplace=True)

In [89]:
df.to_csv("df_restaurants.csv")

In [90]:
mask = df['stars'] == 'Bib'
df_filtered = df[mask]

In [35]:
#df3 = pd.read_csv("airports.csv", sep=',', encoding='UTF-8')
#pd.options.display.max_columns = None

In [ ]:
df_exploded.head()

With the tyoe of cuisin I will group the restaurants, as there are many different types

In [114]:
def get_type_cuisine(cuisine):
    if 'Modern' in cuisine or "Fusion" in cuisine:
        return 'Modern'
    elif 'Contemporary' in cuisine:
        return 'Contemporary'
    elif 'Creative' in cuisine:
        return 'Creative'
    elif 'Regional' in cuisine:
        return 'Regional'
    elif 'Classic' in cuisine or "Traditional" in cuisine:
        return 'Classic'
    else:
        return 'Other'

In [115]:
df['type_cuisine'] = df['Cuisine'].apply(get_type_cuisine)

In [116]:
df.head(2)

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices,country,stars,type_cuisine,wine_list,american_express,vegetarian_menu,terrace
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.51696,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Taipei,3,Other,0,0,0,0
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225.0,460.0,SGD,French,103.83204,1.306260,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Singapore,3,Other,0,0,0,0

I do the same with the facilities and services, I saw and think that there are some of the caracterics which are more relevant, so I will create coumns to se if they have the facilitiy or service

In [33]:
def has_wine_list(facilities):
    try:
        if 'wine' in facilities:
            return 1
        else:
            return 0
    except:
        np.nan

def accepts_american_express(facilities):
    try:
        if 'American Express credit card' in facilities:
            return 1
        else:
            return 0
    except:
        np.nan
        
def vegetarian_menu(facilities):
    try:
        if 'vegetarian' in facilities:
            return 1
        else:
            return 0
    except :
        np.nan

def has_terrace(facilities):
    try:
        if 'Terrace' in facilities:
            return 1
        else:
            return 0
    except:
        np.nan

df['wine_list'] = df['FacilitiesAndServices'].apply(has_wine_list)
df['american_express'] = df['FacilitiesAndServices'].apply(accepts_american_express)
df['vegetarian_menu'] = df['FacilitiesAndServices'].apply(vegetarian_menu)
df['terrace'] = df['FacilitiesAndServices'].apply(has_terrace)

In [34]:
df.head(2)

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices,country,stars,type_cuisine,wine_list,american_express,vegetarian_menu,terrace
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.51696,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Taipei,3,Other,0.0,1.0,0.0,0.0
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225.0,460.0,SGD,French,103.83204,1.306260,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Singapore,3,Other,1.0,1.0,1.0,0.0

In [117]:
df["type_cuisine"].unique()

array(['Other', 'Contemporary', 'Modern', 'Creative', 'Classic',
       'Regional'], dtype=object)

I save the data set into I csv and start the visualization project

In [36]:
df.to_csv("df_restaurants.csv")

I convert the data of the columns MinPrice and MaxPrice in float

In [4]:
df = pd.read_csv("../df_restaurants.csv", sep=',', encoding='UTF-8',index_col=0)
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [6]:
df.head(1)

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,Url,WebsiteUrl,Award,FacilitiesAndServices,country,stars,type_cuisine,wine_list,american_express,vegetarian_menu,terrace
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,6000.0,6000.0,TWD,Cantonese,121.51696,25.049071,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",Taipei,3,Other,0,0,0,0

In [7]:
df['MinPrice'] = df['MinPrice'].astype(float)

In [8]:
df['MaxPrice'] = df['MaxPrice'].astype(float)

I save the data set into I csv and start the visualization project

In [35]:
df.to_csv("../Data/df_restaurants.csv")

We are going to create a dataframe with the rates of exchange so we can compare prices

In [19]:
df["Currency"].unique()

array(['TWD', 'SGD', 'NOK', 'DKK', 'SEK', 'EUR', 'USD', 'GBP', 'CNY',
       'MOP', 'HKD', 'JPY', 'KRW', 'CHF', 'CAD', 'AED', nan, 'THB', 'BRL',
       'ISK', 'HRK', 'CZK', 'HUF', 'PLN', 'RSD'], dtype=object)

In [21]:
rates = df["Currency"].unique().tolist()
df_rates = pd.DataFrame(rates, columns=["Currency"])

I did it manually as there were not many currencies

In [24]:
df_rates['rates'] = [0.031, 0.7 , 0.092, 0.13, 0.09, 1, 0.93, 1.13, 0.14, 0.12, 0.12, 0.0700, 0.00073, 1.01, 0.7, 0.25, 1, 0.028, 0.18, 0.0065, 0.132723, 0.042, 0.0026, 0.21, 0.0085]

In [26]:
df_rates.head(2)

  Currency  rates
0      TWD  0.031
1      SGD  0.700

In [27]:
df_rates.to_csv("../Data/df_rates.csv")